#
# This the CARMA Grid Component Registry. 
# We use a single registry to define the particular instantiation
# of CARMA, as well as to define Import, Internal, and Export
# states
#
# !REVISION HISTORY:
#  16Aug2006  da Silva   First Version
#   1Feb2007  Kouatchou  Population of specs
#  29Mar2007  Nielsen    Name validation, inclusion for GEOS-5
#  18Nov2009  Colarco    First Crack
#  23Nov2009  Colarco    Add Control elements to registry
#  16May2019  Case       Addition of STS/HNO3 options
#
# -----------------------------------------------------------------

# CARMA dimensioning parameters
NBIN:      22
NGROUP:    4
NELEM:     4 
NSOLUTE:   0 
NGAS:      3
NWAVE:     0 

# PARTICLES
# ---------
# GROUPS: Define the aerosol groups (must be at least NGROUP entries)
# GROUPNAME = name
# RMRAT     = ratio of mass of bin i+1 to bin i
# RMIN      = central radius [cm] of smallest bin
# ISHAPE    = shape type: 1 (Sphere), 2 (Hexagon), 3 (Cylinder)
# ESHAPE    = aspect ratio of particle: 1.0 (spherical)
#             if CYLINDER, << 1 for disks, >> 1 for needles
# FSCAV     = convective scavenging efficiency (fraction km-1) -- deprecated
# IRHSWELL  = humidifcation type for fall/optics: 0 (I_NO_SWELLING), 1 (I_FITZGERALD), 
#                                                 2 (I_GERBER), 3 (I_WTPCT_H2SO4),
#                                                 4 (I_WTPCT_STS)
# IRHSWCOMP = composition swelling flag
GROUPNAME: sulfate         dust       seasalt    organiccarbon   blackcarbon
RMRAT:     3.7515201       2.2587828  2.2587828  2.2587828       2.2587828
RMIN:      2.6686863e-8    5.e-06     5.e-06     5.e-06          5.e-06
ISHAPE:    1               1          1          1               1
ESHAPE:    1.              1.         1.         1.              1.
FSCAV:     0.4             0.4        0.4        0.4             0.4
IRHSWELL:  3               0          2          0               0
IRHSWCOMP: 0               0          12         0               0

# ELEMENTS: Define the aerosol elements (must be at least NELEM entries)
# IGROUP       = group (above) the element maps to
# RHOP         = elements density [g cm-3]
# ELEMNAME     = name of element
# ITYPE        = element type: 1 (I_INVOLATILE), 2 (I_VOLATILE), 3 (I_COREMASS)
#                              4 (I_VOLCORE), 5 (I_CORE2MOM)
# ICOMPOSITION = 
IGROUP:        1       2       3      4      5
RHOP:          1.923   2.65    2.20   1.35   1.35
ELEMNAME:      pc      pc      pc     pc     pc
ITYPE:         2       1       1      1      1
ICOMPOSITION:  0       1       2      3      4

# EMISSION MASS DISTRIBUTIONS: Define the distribution of emitted aerosols
# Each element should have a DISTRIBUTION#: associated with it, i.e. if
#   there are 5 elements, there should be DISTRIBUTION1-DISTRIBUTION5.
#   These should be MASS distributions either in units of dM or dMdlogr
#   and normalized to 1.
# NOTE: Groups/elements named 'seasalt' and 'dust' have special handling.
DISTRIBUTION1: 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00018 0.00488 0.05132 0.21858 0.37728 0.26391 0.07481 0.00860 0.00040 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000
DISTRIBUTION2: 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000
DISTRIBUTION3: 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000 0.00000
DISTRIBUTION4: 0.00850 0.03250 0.08360 0.14490 0.16940 0.13350 0.07080 0.02540 0.00660 0.00230 0.00330 0.00670 0.01260 0.02090 0.03070 0.03990 0.04600 0.04700 0.04240 0.03390 0.02400 0.01510 0.00000 0.00000
DISTRIBUTION5: 0.00850 0.03250 0.08360 0.14490 0.16940 0.13350 0.07080 0.02540 0.00660 0.00230 0.00330 0.00670 0.01260 0.02090 0.03070 0.03990 0.04600 0.04700 0.04240 0.03390 0.02400 0.01510 0.00000 0.00000


# GASES
# -----
# Define the gas properties (must be at least NGAS entries)
# GASNAME  = name
# IGCOMP   = gas composition: 1 (I_GCOMP_H2O), 2 (I_GCOMP_H2SO4), 3 (I_GCOMP_SO2),
#                             4 (I_GCOMP_HNO3)
# IGVAPREQ = vapor pressure equation: -1 (I_VAPRTN_NULL), 1 (I_VAPRTN_H2O_BUCK1981), 
#                                     2 (I_VAPRTN_H2O_MURPHY2005), 3 (I_VAPRTN_H2O_GOFF1946),
#                                     4 (I_VAPRTN_H2SO4_AYERS1980)
GASNAME:      H2O     H2SO4   HNO3
IGCOMP:       1       2       4
IGVAPREQ:     2       4       -1


# Microphysical process control
# Logical (0 or 1)
DO_COAG:     1 
DO_GROW:     1 
DO_SUBSTEP:  1 
DO_THERMO:   1 
DO_VDIFF:    0 
DO_VTRAN:    1 
DO_FIXEDINIT:1

# Substepping and vfall (configured for sulfate case for now)
VF_CONST:    0.
MINSUBSTEPS: 1
MAXSUBSTEPS: 32
MAXRETRIES:  16
CONMAX:      0.1

# Species specific parameters (input files, size distribution, other conditions)
# DUST
# Point-wise dust source
point_emissions_srcfilen_dust: /dev/null
dust_emissions_fudgefactor: 2.e-4

# SEA SALT
seasalt_emissions_fudgefactor: 1.4

# BLACK CARBON

# ORGANIC CARBON
organic_matter_to_organic_carbon_ratio: 1.8
fraction_terpene_to_organic_carbon:     0.1

#SULFATE

# Point-wise sulfate source
point_emissions_srcfilen_sulfate: /dev/null

# Monochromatic (diagnostic) optical properties
  n_channels: 4
  n_moments:  0
  r_channels: 4.7e-7 5.5e-7 6.7e-7 8.7e-7
  filename_optical_properties_DU:  /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/optics_carmaDU.v2.1.0.legacy.nc4
  filename_optical_properties_SS:  /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/optics_carmaSS.v2.1.0.legacy.nc4
  filename_optical_properties_BC:  /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/optics_carmaBC.v2.1.0.legacy.nc4
  filename_optical_properties_SM:  /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/optics_carmaOC.v2.1.0.legacy.nc4
  filename_optical_properties_OC:  /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/optics_carmaOC.v2.1.0.legacy.nc4
  filename_optical_properties_SU:  /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/optics_carmaSUpure.v2.1.0.legacy.nc4
  filename_optical_properties_NI:  /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/optics_carmaOC.v2.1.0.legacy.nc4
  filename_optical_properties_BRC:  /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/optics_carmaOC.v2.1.0.legacy.nc4

# Band optical properties
# Current is a place holder...need CARMA tables for RRTMG, these are just
# GOCART tables made to cause code not to crash (although it will if CARMA is
# AeroProvider)
  NUM_BANDS: 30
  DU_OPTICS: /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/opticsBands_carmaDU.v2.1.0.legacy.RRTMG.nc4
  SS_OPTICS: /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/opticsBands_carmaSS.v2.1.0.legacy.RRTMG.nc4
  BC_OPTICS: /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/opticsBands_carmaBC.v2.1.0.legacy.RRTMG.nc4
  SM_OPTICS: /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/opticsBands_carmaOC.v2.1.0.legacy.RRTMG.nc4
  OC_OPTICS: /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/opticsBands_carmaOC.v2.1.0.legacy.RRTMG.nc4
  SU_OPTICS: /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/opticsBands_carmaSUpure.v2.1.0.legacy.RRTMG.nc4
  NI_OPTICS: /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/opticsBands_carmaOC.v2.1.0.legacy.RRTMG.nc4
  BRC_OPTICS: /home/pcolarco/silo/fvInput/chemistry/AerosolOptics/v2.1.0/x/opticsBands_carmaOC.v2.1.0.legacy.RRTMG.nc4

