#
# This the CARMA Grid Component Registry. 
# We use a single registry to define the particular instantiation
# of CARMA, as well as to define Import, Internal, and Export
# states
#
# !REVISION HISTORY:
#  16Aug2006  da Silva   First Version
#   1Feb2007  Kouatchou  Population of specs
#  29Mar2007  Nielsen    Name validation, inclusion for GEOS-5
#  18Nov2009  Colarco    First Crack
#  23Nov2009  Colarco    Add Control elements to registry
#  16May2019  Case       Addition of STS/HNO3 options
#
# -----------------------------------------------------------------

# CARMA dimensioning parameters
NBIN:      22
NGROUP:    1
NELEM:     1 
NSOLUTE:   0 
NGAS:      0
NWAVE:     0 

# PARTICLES
# ---------
# GROUPS: Define the aerosol groups (must be at least NGROUP entries)
# GROUPNAME = name
# RMRAT     = ratio of mass of bin i+1 to bin i
# RMIN      = central radius [cm] of smallest bin
# ISHAPE    = shape type: 1 (Sphere), 2 (Hexagon), 3 (Cylinder)
# ESHAPE    = aspect ratio of particle: 1.0 (spherical)
#             if CYLINDER, << 1 for disks, >> 1 for needles
# FSCAV     = convective scavenging efficiency (fraction km-1) -- deprecated
# IRHSWELL  = humidifcation type for fall/optics: 0 (I_NO_SWELLING), 1 (I_FITZGERALD), 
#                                                 2 (I_GERBER), 3 (I_WTPCT_H2SO4),
#                                                 4 (I_WTPCT_STS)
# IRHSWCOMP = composition swelling flag
GROUPNAME: dust       seasalt    smoke
RMRAT:     2.2587828  2.2587828  2.2587828
RMIN:      5.e-06     5.e-06     5.e-06
ISHAPE:    1          1          1
ESHAPE:    1.         1.         1.
FSCAV:     0.4        0.4        0.4
IRHSWELL:  0          2          0
IRHSWCOMP: 0          12         0

# ELEMENTS: Define the aerosol elements (must be at least NELEM entries)
# IGROUP       = group (above) the element maps to
# RHOP         = elements density [g cm-3]
# ELEMNAME     = name of element
# ITYPE        = element type: 1 (I_INVOLATILE), 2 (I_VOLATILE), 3 (I_COREMASS)
#                              4 (I_VOLCORE), 5 (I_CORE2MOM)
# ICOMPOSITION = 
IGROUP:       1       2       3
RHOP:         2.65    2.20   1.35
ELEMNAME:     pc      pc     pc
ITYPE:        1       1      1
ICOMPOSITION: 1       2      3

# GASES
# -----
# Define the gas properties (must be at least NGAS entries)
# GASNAME  = name
# IGCOMP   = gas composition: 1 (I_GCOMP_H2O), 2 (I_GCOMP_H2SO4), 3 (I_GCOMP_SO2),
#                             4 (I_GCOMP_HNO3)
# IGVAPREQ = vapor pressure equation: -1 (I_VAPRTN_NULL), 1 (I_VAPRTN_H2O_BUCK1981), 
#                                     2 (I_VAPRTN_H2O_MURPHY2005), 3 (I_VAPRTN_H2O_GOFF1946),
#                                     4 (I_VAPRTN_H2SO4_AYERS1980)
GASNAME:      H2O     H2SO4   HNO3
IGCOMP:       1       2       4
IGVAPREQ:     2       4       -1


# Microphysical process control
# Logical (0 or 1)
DO_COAG:     0 
DO_GROW:     0 
DO_SUBSTEP:  0 
DO_THERMO:   0 
DO_VDIFF:    0 
DO_VTRAN:    1 
DO_FIXEDINIT:1

# Substepping and vfall (configured for sulfate case for now)
VF_CONST:    0.
MINSUBSTEPS: 1
MAXSUBSTEPS: 32
MAXRETRIES:  16
CONMAX:      0.1

# Species specific parameters (input files, size distribution, other conditions)
# DUST
# Point-wise dust source
point_emissions_srcfilen_dust: /dev/null
dust_emissions_fudgefactor: 2.e-4

# SEA SALT
seasalt_emissions_fudgefactor: 1.4

# BLACK CARBON

# SMOKE
organic_matter_to_organic_carbon_ratio: 1.8
fraction_terpene_to_organic_carbon:     0.1

#SULFATE

# Point-wise sulfate source
point_emissions_srcfilen_sulfate: /dev/null

# Monochromatic (diagnostic) optical properties
  n_channels: 4
  n_moments:  0
  r_channels: 4.7e-7 5.5e-7 6.7e-7 8.7e-7
  filename_optical_properties_DU:  /discover/nobackup/pcolarco/fvInput/AeroCom/x/carma_optics_DU.v15.nbin=22.nc
  filename_optical_properties_SS:  /discover/nobackup/pcolarco/fvInput/AeroCom/x/carma_optics_SS.v3_3.nbin=22.nc
  filename_optical_properties_BC:  /discover/nobackup/pcolarco/fvInput/AeroCom/x/carma_optics_SU.v1.nbin=22.nc
  filename_optical_properties_SM:  /discover/nobackup/pcolarco/fvInput/AeroCom/x/carma_optics_SM.v1.nbin=22.nc
  filename_optical_properties_SU:  /discover/nobackup/pcolarco/fvInput/AeroCom/x/carma_optics_SU.v1.nbin=22.nc

# Band optical properties
# Current is a place holder...need CARMA tables for RRTMG, these are just
# GOCART tables made to cause code not to crash (although it will if CARMA is
# AeroProvider)
  NUM_BANDS: 30
  DU_OPTICS: ExtData/chemistry/AerosolOptics/v0.0.0/x/opticsBands_DU.v15_3.RRTMG.nc
  SS_OPTICS: ExtData/chemistry/AerosolOptics/v0.0.0/x/opticsBands_DU.v15_3.RRTMG.nc
  SU_OPTICS: ExtData/chemistry/AerosolOptics/v0.0.0/x/opticsBands_DU.v15_3.RRTMG.nc
  OC_OPTICS: ExtData/chemistry/AerosolOptics/v0.0.0/x/opticsBands_DU.v15_3.RRTMG.nc
  BC_OPTICS: ExtData/chemistry/AerosolOptics/v0.0.0/x/opticsBands_DU.v15_3.RRTMG.nc
  BRC_OPTICS: ExtData/chemistry/AerosolOptics/v0.0.0/x/opticsBands_DU.v15_3.RRTMG.nc
  NI_OPTICS: ExtData/chemistry/AerosolOptics/v0.0.0/x/opticsBands_DU.v15_3.RRTMG.nc

